.card {
  width: 350px;
  margin: 30px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

h2 {
  text-align: center;
  display: block;
  padding-top: 40px;
}

.btn {
  margin: 5px;
  display: block;
}

.editbtns {
  text-align: center;
}

.card-body {
  text-align: center;

 p {
    text-align: left;
  }
  
}

// .this {
//   background-color:#EFE1DE;
// }

body {
  background-color: 'black';
}
