.contactInfo i {
  text-align: center;
  margin: auto;
}

h3 {
  font-family: 'Homemade Apple', cursive;
  padding-bottom: .5em;
  text-align: center;
  padding-top: 2em;
  margin: auto;
}

.contactStyles {
  margin: auto;
  text-align: center;
}

.bioImage {
  width: 200px;
 text-align: center;
}

.contactContainer {
  padding-top: 40px;
}
