.bg-image {
  padding: 150px 60px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/personal-bio-page.appspot.com/o/comp-bg.jpg?alt=media&token=96ccf96d-679f-435d-9a9b-5c8dcca6a2c9");
  background-position: center;
  background-size: cover;
}

.header-text {
  text-align: center;

  h2 {
    padding-top: 0px;
    font-size: 3em;
  }
}
